@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

/*@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}*/

@font-face {
  font-family: 'cartier';
  src: url("../public/Cartier.otf") format("opentype");
}

@font-face {
  font-family: 'goth';
  src: url("../public/gothampro.ttf") format('truetype');
}

@font-face {
  font-family: 'gothBlack';
  src: url("../public/gothampro_black.ttf") format('truetype');
}

@font-face {
  font-family: 'gothBold';
  src: url("../public/gothampro_bold.ttf") format('truetype');
}

@font-face {
  font-family: 'gothLight';
  src: url("../public/gothampro_light.ttf") format('truetype');
}

@font-face {
  font-family: 'gothMed';
  src: url("../public/gothampro_medium.ttf") format('truetype');
}

.orange {color: #DC7700;}
.green {color: #10A75A;}
.purple {color: #BF7CCB;}
.red {color: #C9051C;}
.yellow {color: #E4B200;}
.pink {color: #F16D9F;}
.black {color: #212121;}
.uppercase {text-transform: uppercase;}
.cap {text-transform: capitalize;}
.uppercase {text-transform: uppercase;}
.med-text {font-family: 'gothMed';}
.bold {font-family: 'gothBold';}
.cartier {font-family: 'cartier';}

main {
  width: 100vw;
  overflow-x: hidden;
}

.hero-home,
.hero-white {
  width: 100%;
  background-color: #161616;
  color: #fff;
}

.hero-home {
  background: url("../public/heroNew.png") no-repeat center center;
  background-size: cover;
}
.hero-about {
  background: url("../public/hero-about.png") no-repeat center center;
  background-size: cover;
  height: 80vh;
}
.hero-info {
  background: url("../public/hero-info.png") no-repeat center center;
  background-size: cover;
}
.hero-mag {
  background: url("../public/mag-hero.png") no-repeat center center;
  background-size: cover;
}
.hero-ash {
  background: url("../public/ash-hero.png") no-repeat center center;
  background-size: cover;
}

.hero-inner {
  width: 100%;
  height: 100vh;
  padding: 30px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

.hero-inner h1 {
  font-size: 64px;
  text-align: center;
  margin-top: 30px;
}

.hero-inner p {
  font-size: 18px;
  font-family: 'gothLight';
  text-align: center;
}

.hero .logo-div,
.hero-logo-white {filter: invert(100%);}

.linkOne {
  gap: 20px;
  font-family: 'gothLight';
}

nav .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  right: 18rem;
  display: none;
  margin-left: 4rem;
  margin-top: 10px;
  background: #F7F7F7;
  width: 15%;
  text-align: center;
  padding: 10px;
}
nav .drop {cursor: pointer;}
nav .drop .show.dropdown {
  visibility: visible;
  opacity: 1;
  display: block;
}
nav .dropdown li {
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

nav {
  justify-content: space-between;
  font-family: 'gothMed';
  text-transform: uppercase;
  background-color: #212121;
  color: #fff;
  padding: 20px;
}

nav.white-text {
  justify-content: space-evenly;
  font-family: 'gothMed';
  text-transform: uppercase;
  color: #ffffff;
}


nav div {
  width: 33%;
}

.logo-div {
  display: flex;
  justify-content: center;
}

.section {
  padding: 30px 20px;
}

.display {
  padding: 50px 0;
  width: 100vw;
  justify-content: center;
  text-align: center;
  min-height: 550px;
}
.display:not(.infopage) {
  background: url("../public/block3.png") no-repeat center center;
  background-size: cover;
}

.display .title {
  justify-content: center;
  gap: 45px;
  margin-bottom: 40px;
}

.flavor .title img {
  height: 55px;
}

.displayTitle, .action h2, .flavor .tit {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 15px;
  font-family: gothBold;
}

.title {
  font-family: 'goth';
  font-size: 50px;
}

.footer {
  background-color: #212121;
  padding: 20px 30px;
  color: #fff;
}
.footer .flex {
  width: 100%;
  margin-bottom: 25px;
}
.footer .flex-in {
  display: flex;
  gap: 15px;
}
.footer .flex-in a {
  min-width: 20%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer .flex-in a:first-child {border: 1px solid #fff;}
.four-zero {width: 40%;}
.six-zero {
  width: 60%;
  align-self: flex-end;
}
.footer p {
  margin: 0;
  font-size: 16px;
  align-self: center;
}
.footer img {object-fit: contain;}


.white-copy {
  color: #F0EFEB;
}

.copy-block {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20px;
  width: 50%;
}

.instablockH1 {
  font-family: 'gothBold';
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin: 50px auto;
}

p, li:not(.drop-li) {
  font-family: 'gothLight';
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.center {
  text-align: center;
}

.copy-block a {
  width: max-content;
  background: #212121;
  padding: 10px 19px;
  color: #ffffff;
  border: 1px solid #212121;
  margin: auto;
}

/*.pour h2, */
.copy-block a:hover {
  background: #ffffff;
  color: #212121;
}

.pour {
  background: url("../public/block5.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  min-height: 550px;
}
.pour h1 {
  font-weight: 700;
  font-family: 'goth';
  color: #ffffff;
  font-size: 36px;
  align-self: center;
}

.pour img {
  object-fit: contain;
  width: 100%;
}

.flavor .title {
  justify-content: center;
  gap: 30px;
  align-items: baseline;
}
.flavor {padding: 90px 5px;}
.flavor-option  h2 {
  font-family: 'goth';
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 5px;
}


.flavor-option {
  width: 80%;
  margin: auto;
  gap: 20px;
  border-bottom: 1px solid grey;
  margin-top: 60px;
}

.flavor-option div {
  cursor: pointer;
  color: grey;
}

.flavor-option div.active {
  color: #212121;
  border-bottom: 1px solid #212121;
}

.ops.active {
  justify-content: space-evenly;
  width: 70%;
  margin: 50px auto;
}

.ops:not(.active) {
  display: none;
}
.ops img {margin: auto;}
.ops p {display: none;}
/*.ops a {width: 32%;}*/
/*.ops a div {margin: auto;}*/
.ops div:hover p {
  display: block;
  width: 90%;
  font-size: 16px;
  line-height: 19px;
  margin: 20px auto;
  text-transform: capitalize;
  font-family: 'gothLight';
  color: grey;
}

.imgBox {
  width: 268px;
  height: 400px;
  display: block;
  margin: auto;
}
.imgBox.orange {
  background: url("../public/can-orange2.png") no-repeat center center;
  background-size: cover;
}
.imgBox.orange:hover {
  background: url("../public/can-orange2B.png") no-repeat center center;
  background-size: cover;
}
.imgBox.red {
  background: url("../public/can-rose2.png") no-repeat center center;
  background-size: cover;
}
.imgBox.red:hover {
  background: url("../public/can-rose2B.png") no-repeat center center;
  background-size: cover;
}
.imgBox.green {
  background: url("../public/can-lime2.png") no-repeat center center;
  background-size: cover;
}
.imgBox.green:hover {
  background: url("../public/can-lime2B.png") no-repeat center center;
  background-size: cover;
}
.imgBox.pink {
  background: url("../public/can-apple2.png") no-repeat center center;
  background-size: cover;
}
.imgBox.pink:hover {
  background: url("../public/can-apple2B.png") no-repeat center center;
  background-size: cover;
}
.imgBox.yellow {
  background: url("../public/can-lemon2.png") no-repeat center center;
  background-size: cover;
}
.imgBox.yellow:hover {
  background: url("../public/can-lemon2B.png") no-repeat center center;
  background-size: cover;
}
.imgBox.purple {
  background: url("../public/can-tea2.png") no-repeat center center;
  background-size: cover;
}
.imgBox.purple:hover {
  background: url("../public/can-tea2B.png") no-repeat center center;
  background-size: cover;
}


.why {
  padding: 100px 0;
}
.why .flex.wrap {
  justify-content: center;
  gap: 30px;
}
.why .flex.inner {
  flex-direction: column;
  width: 25%;
}
.why .flex.inner.flip {
  flex-direction: column-reverse;
  align-self: baseline;
}
.why .flex.inner.flip h4 {
  order: 1;
  margin-top: 0;
}
.why .flex.inner p {
  font-size: 16px;
  line-height: 19px;
}
.why .flex.inner img {
  height: 300px;
}
.why h4 {
  font-family: goth;
  font-size: 20px;
  line-height: 22px;
  margin: 10px 0;
  text-transform: capitalize;
}
.why h2 {
  text-align: center;
  font-family: 'gothBold';
  margin-bottom: 35px;
  font-size: 36px;
}

.flow {
  justify-content: center;
  gap: 20px;
  padding: 60px 0;
}
.flow img {
  width: 590px;
  height: 550px;
}

.action {
  justify-content: center;
  text-align: center;
}
.action .copy-block {
  width: 50%;
}

.lastBlock {
  background: url("../public/lastBlock.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}


/*about*/
.about-intro {flex-direction: column;}
.about-intro img {
/*  align-self: center;*/
  margin: auto;
  width: 100%;
}
.about-intro .med-text {
  font-size: 43px;
  line-height: 53px;
}
.about .copy-block {width: 100%;}

.about-outro {
  margin: 100px auto 50px;
}
.hero-about h1 {
  font-family: 'gothBold';
  color: #212121;
  font-size: 50px;
  text-align: center;
  line-height: 60px;
  margin-top: 11rem;
  text-transform: uppercase;
}

.info .first {
  max-width: 780px;
  padding: 80px 0;
  text-align: center;
}
.info .title {font-size: 36px; margin-bottom: 25px;}
.info .first p:first-child {margin-bottom: 30px;}
.info h2 {margin-bottom: 10px;}
.info p {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  font-family: 'gothLight';
}
.info .section:not(.hero) {
  width: 80%;
  margin: 60px auto;
}
.info .flex.row img {
  width: 50%;
  object-fit: contain;
  height: 100%;
}
.info .copy-block:not(.notthis) {
  padding: 0 20px;
  align-self: flex-start;
}
.display.infopage {
  background: url("../public/infopage.png") no-repeat center center;
  background-size: cover;
}

.discover .flex.row img:not(.fimg) {
  width: 50%;
  object-fit: contain;
}

.discover .section:not(.hero) {
  width: 90%;
  margin: 50px auto;
  padding: 0;
}
.discover .bold {
  font-size: 36px;
}
.discover .med-text {font-size: 26px}
.discover .med-text.greytext {color:#EFEFEF;}

.discover .section li {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}
.discover p.title {
  margin: 10px 0;
  font-size: 16px;
}
.discover ul {padding-left: 15px;}
.discover ul li {list-style: disc;}

.discover section.section:not(.hero) {margin-top: 40px;}
.discover ul.dropdown li {list-style: none;}

.greybacked {
  background-color: #F7F7F7;
}

.hide-lg {display: none;}
.hide-md {display: block;}


@media (min-width: 1988px) {
  .why .flex.inner img {
    height: 400px;
    width: auto;
    object-fit: cover;
  }
  .action img, .display img {width: 50%;}

  .action p, .display p {
    font-size: 24px;
    line-height: 30px;
  }
  .copy-block a, .why .orange {font-size: 20px;}
  .why .flex.inner p {
    font-size: 20px;
    line-height: 25px;
  }
  .ops img {width: 50%;}

  .hero-about h1, .discover .cartier {line-height: 112px;}
  .about-intro .med-text, .about-outro p {
    font-size: 69px;
    line-height: 77px;
  }
  .about-intro img {width: 40%;}
  .info p, .why h2, .displayTitle, .action h2, .flavor .tit, .hero-inner h1, .pour h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .info .section {
    padding: 50px 20px;
  }
  .discover li, .why h4  {
    font-size: 30px;
    line-height: 42px;
  }
  .discover p.title {
    margin: 29px 0;
    font-size: 42px;
  }
}
@media (max-width: 1030px) {
  .lastBlock {height: auto;}

  .action,
  .flex.row,
  .img-left {
    flex-direction: column;
  }

  .display,
  .flex.row.img-right {flex-direction: column-reverse;}

  .display img,
  .flavor-option,
  .action img,
  .action .copy-block,
  .about-intro img,
  .instablock img,
  .about-outro p,
  .about .copy-block,
  .about-outro,
  .info .flex.row img,
  .copy-block,
  .discover .flex.row img:not(.fimg) {width: 90%;}


  .ops div:hover p.ingredients {display: none;}

  .ops.active {width: 88%;}
  .flavor {
    padding: 90px 5px 70px;
  }
  .flavor .mid {height: auto;}
  .pour {height: auto;}

  .why .flex.inner img {object-fit: contain;}
  .why .orange {
    font-size: 32px;
    line-height: 38px;
  }
  .why .flex.inner p {
    font-size: 15px;
    line-height: 20px;
  }

  .why .flex.inner img {
     height: auto; 
  }
  .action.flex, .display.flex, .about-intro.flex, .info .flex:not(.footerMid) {gap: 40px;}
  .hide-md {display: none;}
  .hide-lg {display: block;}
  .about-outro {margin-top: 50px;}
  .info h2 {text-align: center;}
  .about .hero .logo-div {filter: invert(0%);}
  .info .hero-inner h1,
  .mag .hero-inner h1,
  .ash .hero-inner h1 {
    font-size: 62px;
    line-height: 65px;
    margin-top: 130px;
  }
  .linkOne {gap: 50px;}
  .discover .flex.row img {margin: auto;}

  .discover .hero p br {display: none;}
  .flex.instLink img {width: 25px; margin: 7px 0;}

  .display .copy-block a:hover {
    color: #ffffff;
    background: #10A75A;
  }
  .flex.row.img-right {margin-top: 34px;}
}

@media (max-width: 830px) {
  .why .flex.wrap,
  .hero nav,
  .why .flex.inner.flip,
  .flow {
    flex-direction: column;
  }

  .flow img,
  .instablock img {
    width: 95%;
    height: auto;
    margin: auto;
  }

  .about .section p {margin: 20px auto;}

  .flavor-option h2 {font-size: 20px;}

  .lastBlock {min-height: 260px;}

  .why .flex.inner img {
    margin: auto;
    width: 100%;
  }

  .why .flex.inner {
    width: 100%;
    padding: 0 11px;
  }
  .display {gap: 10px;}


  .copy-block h2, .why h2.title, .pour h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .hero-inner h1 {
    font-size: 60px;
    line-height: 62px;
  }

  .hero .logo-div {margin-top: 50px;}

  .pour h1 {
    text-align: center;
  }
  .ops.active,
  .imgBox,
  .discover .section:not(.hero) {width: 100%;}
  .ops div {width: 34%;}
  .ops div:hover p {
    font-size: 15px;
    line-height: 17px;
  }

  .action.section {padding: 0;}
  footer .tag {width: 50%; margin: auto;}
  .about-intro .med-text {
    font-size: 31px;
    line-height: 41px;
    text-align: center;
  }

  .hero-about h1 {
    line-height: 45px;
    margin-top: 6rem;
    font-size: 50px;
  }

  .discover .section {padding: 0;}
  .discover li,
  .about .section p {
    font-size: 14px;
    line-height: 17px;
  }
  .discover p.title {
    line-height: 22px;
  }
  .discover .hero-inner h1 {
    font-size: 54px;
  }
  .discover .hero p {
    font-size: 25px;
    line-height: 28px;
    padding: 10px 0;
  }
  .discover .hero .logo-div {margin-top: 130px;}
  .discover ul.dropdown li {
    list-style: none;
    font-size: 20px;
    line-height: 27px;
    font-family: 'gothBlack';
  }

  nav div {
    width: auto;
  }

  .why .flex.inner.flip h4 {
    order: 0;
    margin-top: 10px;
  }

  .info .hero-inner h1, .mag .hero-inner h1, .ash .hero-inner h1 {
    font-size: 38px;
    line-height: 40px;
    margin-top: 100px;
  }
  .flex.row .flex.instLink img {
    width: 20px;
    margin: 10px 0;
  }
  .about-intro p {text-align: center;}
  .about .section:not(.hero) {padding: 0;}
  .about .instablock {margin: 7rem 0;}
  .about .hero .logo-div {filter: invert(100%);}
  .info .copy-block {padding: 0;}
  .about .copy-block a {margin: auto;}

  .discover .copy-block h2 {font-size: 35px;margin-bottom: 15px;}
  .discover .cartier {font-size: 50px;}
  .discover .copy-block {padding: 20px 12px;}

  .footer img {margin: 15px auto;}
  .footer .flex,
  .footer .flex-in {
    flex-direction: column;
  }
  .four-zero, .six-zero {
    width: 75%;
    text-align: center;
    margin: auto;
  }

  .footer .flex-in a:first-child {margin-top: 20px;}
  .footer .flex-in a {padding: 0;}

  .display {
    background: url("../public/block3-mobile.png") no-repeat center center;
    background-size: cover;
    min-height: 750px;
  }

  .hero-home {
    background: url("../public/heroNew-mobile.png") no-repeat center center;
    background-size: cover;
  }

  .hero-inner {
    height: 82vh;
/*    justify-content: center;*/
  }
  .hero-home.section {
    padding: 30px 0 0;
  }

  .lineup {
    background: url("../public/lineup.png") no-repeat center center;
    background-size: cover;
    height: 175px;
    width: 100%;
  }

  .hero-mag, .hero-ash {margin-top: 33px;}
  .discover .section:not(.hero), .hero-about {padding-top: 20px;}

  .info .section:not(.hero) {
    width: 100%;
    margin: 30px auto;
  }
  .info .copy-block:not(.notthis) {
    padding: 0;
  }
  .info .copy-block, .info .flex.row img {width: 100%;}
  .info .hero-inner { justify-content: flex-start;}
  .info .hero-inner h1 {margin-top: 20px;}
  .display.infopage {
    background: url("../public/infopage-mobile.png") no-repeat center center;
    background-size: cover;
    justify-content: flex-end;
  }
  .info .copy-block.notthis {
    padding: 0 20px;
    align-self: flex-start;
  }
  .info .copy-block.notthis h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .info .copy-block.notthis h2 br {display: none;}
  nav a {font-size: 14px;}

  .linkOne {
    gap: 11px;
    margin-left: 25px;
  }
}
